.add_fields {
  margin-top: 20px;
}

.add_btn {
  background-color: green;
  margin-left: 10px;
}

.timeZones_list {
  list-style-type: none;
}

.list_item_timeZone {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.time, .item_delete_timeZone {
  margin-left: 5px;
}

.name_timeZone {
  font-weight: bold;
  font-size: 20px;
}



.time {
  font-size: 20px;
}