.add_fields {
  margin-top: 20px;
}

.add_btn {
  background-color: green;
  margin-left: 10px;
}

.timeZones_list {
  list-style-type: none;
}

.list_item_timeZone {
  display: flex;
}

.time, .item_delete_timeZone {
  margin-left: 5px;
}